@mixin centeredFlex($type: flex) {
  display: $type;
  justify-content: center;
  align-items: center;
}

@mixin transitionMain($properties...) {
  $transition: '';
  @each $property in $properties {
    $transition: $transition +
      $property +
      ' ' +
      $transitionTime +
      ' ' +
      $cubicBezierMain +
      ', ';
  }
  $transition: str-slice($transition, 1, -2);
  transition: unquote($transition);
}

@mixin heroBgImage($url) {
  background-image: linear-gradient(
      to right,
      $overlayShadingColor,
      $overlayShadingColor
    ),
    url(#{$url});
}

@mixin font($url) {
  background-image: linear-gradient(
      to right,
      $overlayShadingColor,
      $overlayShadingColor
    ),
    url(#{$url});
}

@mixin fonts($fw: 900, $fs: 26px, $lh: 1.61, $ls: 0.06em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}
