body {
  background-color: $WhiteBgColor;
  font-family: Roboto, sens-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}
